# =========================
# Données volumineuses
# =========================
data/
*.pkl
*.h5
.venv/
*.deb
*.pth
# =========================
# Jupyter / Python
# =========================
.ipynb_checkpoints/
__pycache__/
*.pyc
.claude/
# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.gitignore